@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --lapis-lazuli: rgb(6, 34, 52);
    --verde-azul: #38a3a5ff;
    --esmeralda: rgb(4, 104, 61);
    --verde-luz: #80ed99ff;
    --branco: rgb(231, 250, 233);
    --font-titulo: "Space Grotesk", serif;
    --fotn-texto: "Space Grotesk", serif;
}

body {
    align-items: center;
    text-align: center;
    background-color: var(--branco);
    color: var(--verde-azul);
    font-family: var(--font-titulo);
    font-size: 16px;
    margin-top: 0;
}

header {
    background-color: var(--lapis-lazuli);
    display: flex;
    justify-content: space-between;
    box-shadow: 0.1em 0.1em 0.5em var(--lapis-lazuli);
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.5em;
    padding: 0.4em 0.6em;
    margin-right: 1em;
    margin-left: auto;
}

.botao:hover {
    color: var(--verde-azul);
    background-color: var(--branco);
    transition: 0.5s;
}

.img {
    border-radius: 5em 5em 5em 5em;
    background-color: var(--branco);
    width: 70%;
}


main {
    margin-top: 25vh;
    padding: 20px;
    height: 100vh;
}

.amanha {
    align-items: center;
    text-align: center;
    background-color: var(--branco);
    color: var(--lapis-lazuli);
    font-family: var(--fotn-texto);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-color: var(--branco);
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
}

.amanha h1{
    font-weight: bold;
    font-size: 2em;

}

.ontem {
    margin-top: 1em;
    background-color: var(--lapis-lazuli);
    border-width: 2px;
    border-color: var(--lapis-lazuli);
    box-shadow: 0px 4px 8px var(--lapis-lazuli);
    border-style: solid;
    border-radius: 5px;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 4em;
    padding-bottom: 5em;
}

.container_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex: 1;
    max-width: 300px;
    padding: 1em;
    border: 1px solid var(--verde-azul);
    border-radius: 8px;
    background-color: var(--branco);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container_div img {
    width: 108%;
    border-radius: 8px;
}

.container_div a{
    font-size: 1.6em;
    text-decoration: none;
    color: var(--verde-azul);
    border-style: solid;
    border-color: var(--lapis-lazuli);
    background-color: var(--lapis-lazuli);
    border-radius: 1em;
    padding: 0.4em 0.6em;
}

.container_div a:hover{
    background-color: var(--verde-luz);
    color: var(--lapis-lazuli);
    transition: 0.5s;
}

.img2 {
    width: 40%;
    max-width: 80%;
    height: auto;
    margin-top: 5vh;

}

.pesinho {
    background-color: var(--lapis-lazuli);
    color: var(--branco);
    font-size: 10px;
    padding: 1em;
    margin-top: 10em;
    position: fixed;
    bottom: 0;
    width: 100%;
}