@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --lapis-lazuli: rgb(6, 34, 52);
    --verde-azul: #38a3a5ff;
    --esmeralda: rgb(4, 104, 61); 
    --verde-luz: #80ed99ff;
    --branco: rgb(231, 250, 233);
    --font-titulo: "Space Grotesk", serif;
    --fotn-texto: "Space Grotesk", serif;
}

.cabeca{
    background-color: var(--lapis-lazuli);
    font-family: var(--fotn-texto);
    color: var(--branco);
    width: 100%;
}

.img {
    margin-right: 1000px;
    display: flex;
}

.amanha{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--verde-azul);
    color: var(--branco);
    font-family:var(--fotn-texto);

}



body{
    align-items: center;
    text-align: center;
    background-color: var(--branco);
    color: var(--verde-azul);
    font-family: var(--font-titulo);    
}

.pesinho{
    background-color: var(--lapis-lazuli);
    color: var(--branco);
    font-size: 18px;
    
        position: fixed;
        bottom: 0;
        width: 100%;
}